body {
    font-family: Arial;
    margin: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #222;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

.welcome {
    text-align: center;
    padding: 60px;
    background-color: #ddd;
}

.welcome h2 {
    font-size: 35px;
}

.booking {
    background-color: white;
    width: 350px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
}

.booking h2 {
    text-align: center;
}

label {
    display: block;
    margin-top: 15px;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background-color: #ff6600;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #cc5200;
}

#result {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
}